<!-- Bottom navigation bar -->

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-label>Sleep Data</ion-label>
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="sleep-timer">
      <ion-label>Sleep Timer</ion-label>
      <ion-icon name="bed"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="sleepiness">
      <ion-label>Sleepiness</ion-label>
      <ion-icon name="speedometer"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>